:root {
    --web_color:#2196F3; 
    --studio_color:#000;
    --main_color: #2F303A;
    --list_color: #757575;
    --footer_link:rgba(255, 255, 255, 0.6);
    --team_color: #F5F4FA; 
    --link_color: #212121;
    --white_color: #fff;
    --border_color: #F5F5F5;
}



html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    font-family: 'Roboto', sans-serif;
}

.container_1 {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.main-nav {
    display: flex;
    align-items: center;
    background-color: var(--white_color);
    border-bottom: 1px solid var(--border_color) ;
}
     

.nav-logo, .footer__header {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none; 
}

.web {
    color: var(--web_color);
}

.studio {
    color: var(--studio_color);
}
.footer_studio {
    color: var(--white_color);
}
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-nav {
    display: flex; 
    margin-left: 70px;
}
.site-nav .item{
    margin-right: 70px;
}

.site-nav .item:last-child {
    margin-right: 0;
}
.site-nav li {
    text-decoration: none;
}

.address-nav {
    display: flex;
    margin-left: auto;
}

.address-nav li {
    text-decoration: none;
}

.address-nav .item + .item {
    margin-left: 40px;
}

.site-nav .nav__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--link_color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav__link:hover {
    color: var(--web_color);
}

.address-nav .address__link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--list_color);
    padding-top: 32px;
    padding-bottom: 32px;
}

.address__link:hover {
    color: var(--web_color);
}

.section__business {
    background-color: var(--main_color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.section__header {
    width: 690px;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.36;
    color: var(--white_color);
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
}


.button.primary {
    color: var(--white_color);
    background-color: var(--web_color);
}


.button {
    display: inline-block;
    border-radius: 4px;
    border: 0;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-decoration: none;
    cursor: pointer;
}



.container_3 {
    display: flex;
    margin: 0;
}


.section__list-features {
    list-style: none;
}

.section__list-work {
    display: flex;
    list-style: none;
    justify-content: center;
}

.section__header-work {
    text-align: center;
}

.section__list-img {
    margin-right: 30px;
}



.section__header-team{
    text-align: center;
    padding-top: 90px; 
}


.header__team {
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
}

.section__list-team {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    padding-bottom: 90px;
}

.section__link-team {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),0px 1px 1px rgba(0, 0, 0, 0.14),0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.section__header-features {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--link_color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0 );
    clip-path: inset(50%);
    margin: -1px;
}

.section__features {
    padding-top: 90px;
    padding-bottom: 90px;
}
.header-features {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--studio_color);
    text-transform: uppercase;
}


.section__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--list_color);
}



.section__header-work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--link_color);
}

.section__team {
    background-color: var(--team_color);
    margin-bottom: 0;
}


.text-team {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--list_color);
}

.footer {
    background-color: var(--main_color);
    padding-top: 60px;
    padding-bottom: 100px;
 }

 .footer__address {
    font-style: normal;
 }
 
 .footer__list-address, .footer__list {
    list-style: none;
}


.footer__link-address {
    color: var(--white_color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    padding-left: 60px;
    padding-top: 10px;
}
 
.footer__link-address:hover {
    color: var(--web_color);
}

.footer__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer_link);
    text-decoration: none;
    padding-left: 60px;
}

.footer__link:hover {
    color: var(--web_color);
}

.footer__header {
    padding-left: 100px;
}